# LaTeX temporary files
**/*.aux
**/*.log
**/*.toc

# We are leaving PDFs in!

# Latexmk
**/*.fdb_latexmk
**/*.fls
**/*.brf
**/*.lof
**/*.lot

# SyncTeX
**/*.synctex.gz

# LaTeX Beamer
**/*.snm
**/*.vrb
**/*.nav
**/*.out

# BibTeX
**/*.bbl
**/*.blg

# Sublime Text Project Files (usually contain absolute paths)
**/*.sublime-project
**/*.sublime-workspace

.vscode/*
